apturl==0.5.2
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.3.0
awscli==1.14.44
blis==0.4.1
boto==2.49.0
boto3==1.10.2
botocore==1.13.2
Brlapi==0.6.6
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.3.7
command-not-found==0.3
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.2
decorator==4.4.0
defer==1.0.6
Distance==0.1.3
distro-info===0.18ubuntu0.18.04.1
docutils==0.15.2
es-core-news-sm==2.2.0
Flask==1.1.1
funcy==1.13
future==0.18.1
gensim==3.8.1
gpg==1.10.0
httplib2==0.9.2
idna==2.8
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.1.1
matplotlib==3.1.3
more-itertools==8.2.0
murmurhash==1.0.2
netifaces==0.10.4
networkx==2.3
nltk==3.4.5
numexpr==2.7.0
numpy==1.18.1
oauth==1.0.1
olefile==0.45.1
packaging==20.3
pandas==0.25.2
pexpect==4.2.1
Pillow==5.1.0
plac==0.9.6
pluggy==0.13.1
preshed==3.0.2
protobuf==3.0.0
py==1.8.1
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.2.0
pygobject==3.26.1
pyLDAvis==2.1.2
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.6
pyRFC3339==1.0
pysummarize==0.6.0
pytest==5.4.1
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2019.3
pyxdg==0.25
PyYAML==5.1
rake-nltk==1.0.4
reportlab==3.4.0
requests==2.22.0
requests-unixsocket==0.1.5
roman==2.0.0
rsa==3.4.2
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
SecretStorage==2.3.1
simplejson==3.13.2
six==1.14.0
sklearn==0.0
smart-open==1.8.4
spacy==2.2.1
srsly==0.1.0
system-service==0.3
systemd-python==234
thinc==7.1.1
tqdm==4.36.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.6
usb-creator==0.3.3
wadllib==1.3.2
wasabi==0.3.0
wcwidth==0.1.8
Werkzeug==0.15.5
xkit==0.0.0
zipp==3.1.0
zope.interface==4.3.2
