<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Labs</title>

    <link rel="stylesheet" href="/resources/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <script src="/resources/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="jumbotron mt-3">
        <h1>Graphs Labs</h1>
        <p class="lead">Laboratio de grafos dinámicos.</p>

        <h2>Blog</h2>
        <p class="lead"><a href="http://micaminomaster.com.co/" target="_blank">Mi Camino Master</a></p>

        <h2>Algoritmos desarrollados en el Lab</h2>
        <div class="list-group">
          <a href="https://github.com/arturoverbel/graph_presentation/blob/master/algorithms/dijkstra.py" target="_blank" class="list-group-item list-group-item-action">
            Dijkstra
          </a>
          <a href="https://github.com/arturoverbel/graph_presentation/blob/master/algorithms/floyd_warshall.py" target="_blank" class="list-group-item list-group-item-action">
            Floyd-Warshall
          </a>
          <a href="https://github.com/arturoverbel/graph_presentation/blob/master/algorithms/rr.py" target="_blank" class="list-group-item list-group-item-action">
            Ramalingam and Reps
          </a>
        </div>

        <hr>

        <h2>Laboratorios</h2>
        <div class="list-group">
          <a href="/graph/generates" target="_blank" class="list-group-item list-group-item-action">
            Lab Generators Graph
          </a>
          <a href="/graph/labs" target="_blank" class="list-group-item list-group-item-action">
            Lab Chart Algorithm
          </a>
        </div>

      </div>
    </div>
  </body>
</html>
