<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Labs</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="/resources/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/resources/node_modules/cytoscape/dist/cytoscape.min.js"></script>
    <script src="/resources/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>

    <script src="/resources/scripts/draw_graph.js"></script>
    <script src="/resources/scripts/draw_matrix.js"></script>
    <script src="/resources/scripts/load_graph.js"></script>
    <script src="/resources/scripts/run_algorithms.js"></script>

    <link rel="stylesheet" href="/resources/node_modules/datatables.net-dt/css/jquery.dataTables.min.css">


    <style>
        #graph-container {
          max-width: 100%;
          height: 350px;
          margin: auto;
          border-style: solid;
          border-color: red;
        }

        #control {
          padding: 1.5rem;
          margin-right: 0;
          margin-left: 0;
          border-width: .2rem;
        }
    </style>
  </head>
  <body>
    <div id="container" style="overflow: hidden;">
      <div class="row">
        <div class="col-md-2">
          <div id="control">
            <div class="form-row">
              <div class="form-group">
                <label for="num-nodes">Nodes Length</label>
                <input type="number" class="form-control" id="num-nodes" value="10">
              </div>
              <div class="form-group">
                <label for="num-edges">Edges Probability</label>
                <input type="number" class="form-control" id="pro-edges" value="0.8">
              </div>
              <div class="form-group">
                <label for="num-edges">Dirigido</label>
                <input class="form-check-input" type="checkbox" checked id="graph-directed">
              </div>
              <div class="form-group">
                <button class="btn btn-primary" id="btn-load">Load</button>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" id="btn-algorithm-floyd-warshall">Floyd - Warshall</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5" id="draw-container">
          <div id="graph-container"></div>
        </div>
        <div class="col-md-5" id="result-container">
          <div id="graph-result-container">
            <table id='table-matrix-loaded' class="table table-striped table-bordered compact" style="width:100%">
            </table>
          </div>
        </div>

      </div>
      <div class="row">


      </div>
    </div>
  </body>

  <script>
    var graph_values = {};
    var graph_container = 'graph-container';
    var draw_container = 'draw-container';
    var matrix_container = 'table-matrix-loaded';

    $("#btn-load").click(function(){
      num_nodes = $("#num-nodes").val();
      pro_edges = $("#pro-edges").val();
      directed = $('#graph-directed').is(":checked");

      $.when( load_graph(num_nodes, pro_edges, directed) )
        .then(
          function (response) {
            graph_values = response.values;
            create_graph( response, graph_container, draw_container );
          },
          function (response) {
            alert( "Request failed: " + response );
          });
    });



    $("#btn-algorithm-floyd-warshall").click(function(){
      num_nodes = $("#num-nodes").val();
      pro_edges = $("#pro-edges").val();

      $.when( run_algorithm_floyd_warshall(graph_values) )
        .then(
          function (response) {
            draw_matrix(response, matrix_container);
          },
          function (response) {
            alert( "Request failed: " + response );
          });
    });

  </script>
</html>
