<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Labs</title>

    <link rel="stylesheet" href="/resources/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/node_modules/datatables.net-dt/css/jquery.dataTables.min.css">

    <script src="/resources/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/resources/node_modules/cytoscape/dist/cytoscape.min.js"></script>
    <script src="/resources/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

    <script src="/resources/scripts/load_graph.js"></script>
    <script src="/resources/scripts/run_algorithms.js"></script>
    <script src="/resources/scripts/lab_graph.js"></script>
    <script src="/resources/scripts/draw_chart.js"></script>

    <style>
        #stadistic-container {
          max-width: 100%;
          height: 500px;
          margin: auto;
          border-style: solid;
          border-color: red;
        }

        #control {
          padding: 1.5rem;
          margin-right: 0;
          margin-left: 0;
          border-width: .2rem;
        }

        .form-group {
          width: 100%;
        }
    </style>
  </head>
  <body>

    <div id="container" style="overflow: hidden;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Labs</a>
      </nav>
      <div class="row">
        <div class="col-md-3">
          <div id="control">
            <div class="form-row">
              <div class="form-group">
                <label for="start-num-nodes">Start Nodes Length</label>
                <input type="number" class="form-control" id="start-num-nodes" value="5">
              </div>
              <br>
              <div class="form-group">
                <label for="end-num-nodes">End Nodes Length</label>
                <input type="number" class="form-control" id="end-num-nodes" value="10">
              </div>
              <br>
              <div class="form-group">
                <label for="num-edges">Edges Probability</label>
                <input type="number" class="form-control" id="pro-edges" value="0.8">
              </div>
              <br>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" checked id="graph-directed">
                  <label for="graph-directed">Directed</label>
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="epoch">Epoch</label>
                <input type="number" class="form-control" id="epoch" value="100">
              </div>

            </div>
            <hr>
            <h3>Algorithm to show</h3>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" checked id="dijkstra-apsp">
                <label class="form-check-label" for="dijkstra-apsp">
                  Dijkstra APSP
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" checked id="floyd-warshall-apsp">
                <label class="form-check-label" for="floyd-warshall-apsp">
                  Floyd-Warshall
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" checked id="even-gazit">
                <label class="form-check-label" for="even-gazit">
                  Even & Gazit
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" checked id="rr-bfs-truncated-apsp">
                <label class="form-check-label" for="rr-bfs-truncated-apsp">
                  RR - BFS truncated
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" checked id="quinca">
                <label class="form-check-label" for="quinca">
                  QUINCA
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" checked id="owner">
                <label class="form-check-label" for="owner">
                  Owner
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" checked id="forest">
                <label class="form-check-label" for="forest">
                  Forest
                </label>
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-group">
                <button class="btn btn-primary update-graph" id="btn-random-graph">Analize Graph Static</button>
              </div>
              <div class="form-group">
                <button class="btn btn-primary update-graph" id="btn-random-graph-edge-incremental">Analize Incremental Random Edge</button>
              </div>
            </div>
            <hr>
            <div class="form-row">
              <h2><div id="info_lab_title"></div></h2>
              <h3><div id="info_lab"></div></h3>
            </div>
          </div>
        </div>
        <div class="col-md-9" id="draw-container">
          <canvas id="stadistic-container"></canvas>
        </div>

      </div>
    </div>
  </body>

  <script>
  var chart_container = 'stadistic-container';
  var box_container = 'draw-container';
  var info_container = 'info_lab';
  var spiner = "<div class='spinner-border text-dark'></div>";

  $("#btn-random-graph").click(async function(){
    generate_lab([
      getInfoDijkstra(),
      getInfoFloydWarshall()
    ]);
  });

  $("#btn-random-graph-edge-incremental").click(async function(){

    generate_lab([
      getInfoDijkstra(),
      getInfoFloydWarshall(),
      getInfoRRBfsTruncated(),
      getInfoEG(),
      getInfoQUINCA(),
      getInfoOwner(),
      getInfoForest()
    ]);
  });

  async function generate_lab(algorithms) {
    // For labs Graphs
    var start_num_nodes = parseInt($("#start-num-nodes").val());
    var end_num_nodes = parseInt($("#end-num-nodes").val());
    var pro_edges = $("#pro-edges").val();
    var directed = $("#graph-directed").is(":checked");
    var epoch = parseInt($("#epoch").val());


    $('#info_lab_title').html("Running Lab " + spiner);

    var result = await lab_graph_faster(
      start_num_nodes,
      end_num_nodes,
      pro_edges,
      directed,
      epoch,
      algorithms,
      info_container,
      chart_container,
      box_container
    );


    $('#info_lab_title').html("Lab Finished ");

    console.log("Result to chart");
    console.log(result);

    //draw_chart(result, chart_container, box_container)
  }

  function getInfoDijkstra() {
    return {
      checked: $("#dijkstra-apsp").is(":checked"),
      title: "Dijkstra APSP",
      name: "dijkstra-apsp",
      color: 'purple',
      times: []
    }
  }

  function getInfoFloydWarshall() {
    return {
      checked: $("#floyd-warshall-apsp").is(":checked"),
      title: "Floyd-Warshall",
      name: "floyd-warshall",
      color: 'blue',
      times: []
    }
  }

  function getInfoRRBfsTruncated() {
    return {
      checked: $("#rr-bfs-truncated-apsp").is(":checked"),
      title: "RR - BFS Truncated",
      name: "rr-bfs-truncated",
      color: 'orange',
      times: []
    }
  }

  function getInfoEG() {
    return {
      checked: $("#even-gazit").is(":checked"),
      title: "Even & Gazit",
      name: "even-gazit",
      color: 'green',
      times: []
    }
  }

  function getInfoQUINCA() {
    return {
      checked: $("#quinca").is(":checked"),
      title: "QUINCA",
      name: "quinca",
      color: 'red',
      times: []
    }
  }

  function getInfoOwner() {
    return {
      checked: $("#owner").is(":checked"),
      title: "Owner",
      name: "owner",
      color: 'grey',
      times: []
    }
  }

  function getInfoForest() {
    return {
      checked: $("#forest").is(":checked"),
      title: "Forest",
      name: "forest",
      color: 'pink',
      times: []
    }
  }

  </script>
</html>
