<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Labs</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="/resources/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/resources/node_modules/cytoscape/dist/cytoscape.min.js"></script>
    <script src="/resources/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>

    <script src="/resources/scripts/draw_graph.js"></script>
    <script src="/resources/scripts/draw_matrix.js"></script>
    <script src="/resources/scripts/load_graph.js"></script>
    <script src="/resources/scripts/run_algorithms.js"></script>

    <link rel="stylesheet" href="/resources/node_modules/datatables.net-dt/css/jquery.dataTables.min.css">


    <style>
        #graph-container {
          max-width: 100%;
          height: 500px;
          margin: auto;
          border-style: solid;
          border-color: red;
        }

        #control {
          padding: 1.5rem;
          margin-right: 0;
          margin-left: 0;
          border-width: .2rem;
        }
    </style>
  </head>
  <body>
    <div id="container" style="overflow: hidden;">
      <div class="row">
        <div class="col-md-2">
          <div id="control">
            <div class="form-row">
              <div class="form-group">
                <label for="num-nodes">Nodes Length</label>
                <input type="number" class="form-control" id="num-nodes" value="10">
              </div>
              <div class="form-group">
                <label for="num-edges">Edges Probability</label>
                <input type="number" class="form-control" id="pro-edges" value="0.8">
              </div>
              <div class="form-group">
                <label for="num-edges">Directed</label>
                <input class="form-check-input" type="checkbox" checked id="graph-directed">
              </div>
              <div class="form-group">
                <label for="graph-draw-flag">Draw Graph</label>
                <input class="form-check-input" type="checkbox" checked id="graph-draw-flag">
              </div>
              <div class="form-group">
                <label for="graph-draw-matrix-flag">Draw Matrix</label>
                <input class="form-check-input" type="checkbox" checked id="graph-draw-matrix-flag">
              </div>
              <div class="form-group">
                <button class="btn btn-primary" id="btn-load">Load Graph</button>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" id="btn-random-edge-incremental">Incremental Random Edge</button>
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-group">
                <button class="btn btn-info" id="btn-algorithm-floyd-warshall">Floyd - Warshall</button>
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-group">
                <label for="source-dijkstra">Source</label>
                <input type="number" class="form-control" id="source-dijkstra" value="0">
              </div>
              <div class="form-group">
                <button class="btn btn-info" id="btn-algorithm-dijkstra">Dijkstra</button>
              </div>
              <div class="form-group">
                <button class="btn btn-info" id="btn-algorithm-dijkstra-apsp">Dijkstra APSP</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5" id="draw-container">
          <h2><div id="graph-info">Graph empty</div></h2>
          <div id="graph-container"></div>
        </div>
        <div class="col-md-5" id="result-container">
          <h2><div id="graph-info-result-title"></div></h2>
          <h4><div id="graph-info-result-name"></div></h4>
          <div id="graph-result-container">
            <table id='table-matrix-loaded' class="table table-striped table-bordered compact" style="width:100%">
            </table>
          </div>
          <h4>Time: <strong id="graph-info-result-time"></strong></h4>
        </div>

      </div>
      <div class="row">


      </div>
    </div>
  </body>

  <script>
    var graph_values = {};
    var graph_container = 'graph-container';
    var matrix_container = 'table-matrix-loaded';

    var graph_draw_flag = $('#graph-draw-flag').is(":checked");
    var graph_draw_matrix_flag = $('#graph-draw-matrix-flag').is(":checked");

    $('#graph-draw-flag').click(function(){ graph_draw_flag = $(this).is(":checked"); })
    $('#graph-draw-matrix-flag').click(function(){ graph_draw_matrix_flag = $(this).is(":checked"); })

    $("#btn-load").click(function(){
      num_nodes = $("#num-nodes").val();
      pro_edges = $("#pro-edges").val();
      directed = $('#graph-directed').is(":checked");

      $.when( load_graph(num_nodes, pro_edges, directed) )
        .then(
          function (response) {
            graph_values = response.values;
            create_graph( response, graph_container, graph_draw_flag );
            $('#graph-info').html("Graph loaded. Edges: " + graph_values.source.length);
          },
          function (response) {
            alert( "Request failed: " + response );
            $('#graph-info').html("Graph error");
          });
    });

    function load_graph_info_result(name_results, time) {
      $("#graph-info-result-title").html("Algorithm Results");
      $("#graph-info-result-name").html(name_results);
      $("#graph-info-result-time").html(time);
    }

    $("#btn-algorithm-floyd-warshall").click(function(){
      $.when( run_algorithm_floyd_warshall(graph_values) )
        .then(
          function (response) {
            draw_matrix_lab_graph_generates(response.matrix);
            load_graph_info_result("Floyd-Warshall", response.time);
          },
          function (response) {
            alert( "Request failed: " + response );
          });
    });

    $("#btn-algorithm-dijkstra").click(function(){
      var source = $("#source-dijkstra").val();

      $.when( run_algorithm_dijkstra(graph_values, source) )
        .then(
          function (response) {
            draw_matrix_lab_graph_generates(response.matrix);
            load_graph_info_result("Dijkstra", response.time);
          },
          function (response) {
            alert( "Request failed: " + response );
          });
    });

    $("#btn-algorithm-dijkstra-apsp").click(function(){

      $.when( run_algorithm_dijkstra_apsp(graph_values) )
        .then(
          function (response) {
            draw_matrix_lab_graph_generates(response.matrix);
            load_graph_info_result("Dijkstra APSP", response.time);
          },
          function (response) {
            alert( "Request failed: " + response );
          });
    });

    function draw_matrix_lab_graph_generates(matrix) {
      draw_matrix(matrix, matrix_container, graph_draw_matrix_flag);
    }

  </script>
</html>
